login form color issue*/

/*input {
    font: initial;
}*/


/*=========*/
.content{
	text-align: left !important;
}
.padd-top{
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-control {
    border-radius: 5px !important;
}

/*====custom scrolbar design====*/
/*.scoll-div {
    overflow-y: scroll;
    height: 290px;
}*/
.scrollbar
{
	/*margin-left: 30px;*/
	float: left;
	height: 280px;
	width: 100%;
	/*background: #F5F5F5;*/
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow
{
	min-height: 450px;
}
#style-10::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-10::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-10::-webkit-scrollbar-thumb
{
	background-color: #AAA;
	border-radius: 10px;
	background-image: -webkit-linear-gradient(90deg,
	                                          rgba(0, 0, 0, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(0, 0, 0, .2) 50%,
											  rgba(0, 0, 0, .2) 75%,
											  transparent 75%,
											  transparent)
}

/*==========end custom scroll=========*/


/*=========UI Design - Admin Panel===========*/
.box-info{
	border-radius: 5px !important;
}
/*main content - login page*/
/*.content .login{
	padding: 100% !important;
}
*/
/*side bar*/
.skin-blue .wrapper, .skin-blue .left-side {
    background-color: #eef6fb !important;
}
.bar-custom{
	background-color: #3ca6f0 !important;
}
.skin-blue .sidebar a {
    color: #ffffff !important;
}
.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {
    color: #ffffff !important;
    background: #3695d8 !important;
    /*border-left-color: #3c8dbc; */
}
.skin-blue .sidebar-menu > li.header {
    /*color: #00b1ff;*/
    background: #3ca6f0 !important;
    height: 30px !important;
}
/*navi bar*/
.skin-blue .main-header .logo {
    background-color: #ffffff !important;
    color: #3695d8 !important;
    height: 100px !important;
    border-bottom: 3px solid !important;
    border-color: #e7eff5 !important;
    /*border-bottom: 0 solid transparent;*/
}
.skin-blue .main-header .navbar {
    background-color: #ffffff !important;
    height: 100px !important;
   	border-bottom: 3px solid !important;
   	border-left: 3px solid !important;
    border-color: #e7eff5 !important;
    background-image: url("../img/Rectangle2.png") !important;
    /*background-size: 126.28px;*/
}
.sidebar-icon{
	width: 30px !important;
	float: left !important;
	padding: 4px !important;
    margin-top: -5px;
    margin-right: 2px;
}
.skin-blue .main-header .navbar .sidebar-toggle {
    color: #3695d8 !important;
    background-color: #ffffff !important;
}
.skin-blue .main-header .navbar .nav > li > a {
    color: #5f87a3 !important;
    background-color: #ffffff;
    height: 100px;
    border-left: 3px solid !important;
    border-bottom: 3px solid !important;
    border-color: #e7eff5 !important;
}
.skin-blue .sidebar-menu > li > .treeview-menu {
    background: #2a74a8 !important;
}
.main-sidebar, .left-side {
padding-top: 100px !important;
	}

/*main content background*/
.content {
    background-color: #eef6fb !important;
    min-height: 700px !important;
}
/*Admin dashboard content*/
.header_title {
	color: #3ca6f0 !important;
	font-family: 'Work Sans', sans-serif !important;
	font-weight: 600 !important;
	font-size: 15px !important;
}
.header_img {
	float: left;
	margin-right: 5px;
	margin-top: -8px;
}
.user_count{
	width: 116px !important;
    min-height: 35px !important;
    border-radius: 5px !important;
    float: right !important;
    margin-top: -23px !important;
    margin-bottom: 7px !important;
}
.user_count .info-box-number {
	float: left;
	font-family: 'Work Sans', sans-serif !important;
	font-weight: 500 !important;
	color: #86c5f2;
	font-size: 30px;
	padding-left: 10px;
	padding-top: 3px;
	/*padding-bottom: 1px;*/
	margin-top: -7px;
}
.user_count .info-box-text{
	padding-left: 12px;
    padding-top: 11px;
    color: #96aab8;
}

/*dashboad box*/
.dash_box .info-box:focus{
	 outline:none !important;
}
.dash_box .info-box:focus .fa-sort-desc{
/*    -ms-transform: rotate(180deg) !important;
    -webkit-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;*/
    visibility: visible !important;
}
.dash_box .info-box {
	border-radius: 5px !important;
	min-width: 207px !important;
	min-height: 69px !important;
	margin-left: 0px !important;
}
.dash_box .info-box-content {
	margin-left: 0px !important;
}

.dash_box .info-box-text{
	color: #96aab8;
}

.box-col1 .info-box-number{
	float: left;
	font-family: 'Work Sans', sans-serif !important;
	font-weight: 500 !important;
	color: #90f0eb !important;
	padding-right: 5px !important;
}

.box-col1 .progress-bar{
	background: #90f0eb !important;
	height: 20px !important;
	border-radius: 15px !important;
}
.box-col1 .progress{
	background: #e7eff5 !important;
	height: 20px !important;
	border-radius: 15px !important;
}
.box-col1{
	padding-right: 2px !important;
}

.box-col2{
	padding-left: 2px !important;
	padding-right: 2px !important;
}
.box-col2 .info-box-number{
	float: left;
	font-family: 'Work Sans', sans-serif !important;
	font-weight: 500 !important;
	color: #ffd84f !important;
	padding-right: 5px !important;
}

.box-col2 .progress-bar{
	background: #ffd84f !important;
	height: 20px !important;
	border-radius: 15px !important;
}
.box-col2 .progress{
	background: #e7eff5 !important;
	height: 20px !important;
	border-radius: 15px !important;
}

.box-col3{
	padding-left: 2px !important;
	padding-right: 2px !important;
}
.box-col3 .info-box-number{
	float: left;
	font-family: 'Work Sans', sans-serif !important;
	font-weight: 500 !important;
	color: #fa7f7f !important;
	padding-right: 5px !important;
}

.box-col3 .progress-bar{
	background: #fa7f7f !important;
	height: 20px !important;
	border-radius: 15px !important;
}
.box-col3 .progress{
	background: #e7eff5 !important;
	height: 20px !important;
	border-radius: 15px !important;
}

.box-col4{
	padding-left: 2px !important;
	/*padding-right: 2px !important;*/
}
.box-col4 .info-box-number{
	float: left;
	font-family: 'Work Sans', sans-serif !important;
	font-weight: 500 !important;
	color: #ffd84f !important;
	padding-right: 5px !important;
}

/*.box-col4 .progress-bar{
	background: #ffd84f !important;
	height: 20px !important;
	border-radius: 15px !important;
}*/
.box-col4 .progress{
	background: #e7eff5 !important;
	height: 20px !important;
	border-radius: 15px !important;
	margin-left: 15px !important;
	margin-right: 15px !important;
}

/*------KPI boc--------*/
.kpi_box{
background-color: #ffffff;
padding-left: 15px;
border-radius: 5px;
/*height: 300px;
overflow-y:auto;*/

}
.kpi_box_head{
	font-family: 'Work Sans', sans-serif !important;
	font-weight: 500 !important;
	font-size: 24px;
	
}
.kpi_box_head .head1{
	color: #ffd84f;
}
.kpi_box_head .head2{
	color: #b4c1cb;
}
.kpi_box_head p {
	margin-top: -13px;
	font-size: 12px !important;
	padding-top: 10px;
	color: #b4c1cb;
}
/*.kpi_box_body{
	padding-left: 10px;
}*/
.kpi_box_body{
	/*background: #f3f9fd;*/
	/*background-color: #f3f9fd;*/
    margin-left: -14px;
    margin-bottom: 2px;
    margin-right: -14px;
    border-radius: 5px;
/*    height: 80px;
    overflow-y: hidden;*/
}
.kpi_box_body:focus {
    background-color: #f3f9fd;
    outline:none;
}
.kpi_box_body:focus .fa-angle-right{
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.kpi_box_body .col-md-4{
	padding-left: 10px;
	padding-right: 2px;
}
.kpi_box_body .col-md-4 span{
	font-family: 'Work Sans', sans-serif !important;
	font-weight: 500 !important;
	color: #5f87a3;
	font-size: 10px;
}
.kpi_box_body .col-md-4 p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400px !important;
	color: #96aab8;
	font-size: 10px;
}
.kpi_box_body .col-md-4 a{
	font-family: 'Work Sans', sans-serif !important;
	font-weight: 500 !important;
	color: #96aab8;
	font-size: 10px;
	padding:10px;
	float: right;
	padding-top: 5px;

}
.kpi_box_body .col-md-6{
	padding-left: 3px;
	padding-right: 3px;
}
.kpi_box_body .col-md-6 span{
	font-family: 'Work Sans', sans-serif !important;
	font-weight: 500 !important;
	color: #5f87a3;
	font-size: 10px;
	padding-top: 4px !important;
}
.kpi_box_body .col-md-6.progress-bar{
	height: 25px !important;
	border-radius: 7px !important;
	/*margin-top:8px !important;*/
}

.kpi_box_body .col-md-6 .completed-bar-color1 .progress-bar {
	background: #95e6f7 !important;
}
.kpi_box_body .col-md-6 .completed-bar-color2 .progress-bar {
	background: #ed80b4 !important;
}
.kpi_box_body .col-md-6 .completed-bar-color3 .progress-bar {
	background: #99f8ab !important;
}
.kpi_box_body .col-md-6 .completed-bar-color4 .progress-bar {
	background: #fab07f !important;
}
.kpi_box_body .col-md-6 .completed-bar-color5 .progress-bar {
	background: #ffd84f !important;
}
.kpi_box_body .col-md-6 .ongoing-bar-color1 .progress-bar {
	background: #ffd84f !important;
}
.kpi_box_body .col-md-6 .ongoing-bar-color2 .progress-bar {
	background: #ed80b4 !important;
}
.kpi_box_body .col-md-6 .ongoing-bar-color3 .progress-bar {
	background: #99f8ab !important;
}
.kpi_box_body .col-md-6 .ongoing-bar-color4 .progress-bar {
	background: #fab07f !important;
}
.kpi_box_body .col-md-6 .ongoing-bar-color5 .progress-bar {
	background: #95e6f7 !important;
}
.kpi_box_body .col-md-6 .overdue-bar-color1 .progress-bar {
	background: #fa7f7f !important;
}
.kpi_box_body .col-md-6 .overdue-bar-color2 .progress-bar {
	background: #ed80b4 !important;
}
.kpi_box_body .col-md-6 .overdue-bar-color3 .progress-bar {
	background: #99f8ab !important;
}
.kpi_box_body .col-md-6 .overdue-bar-color4 .progress-bar {
	background: #fab07f !important;
}
.kpi_box_body .col-md-6 .overdue-bar-color5 .progress-bar {
	background: #95e6f7 !important;
}
.kpi_box_body .col-md-6 .progress{
	background: #e7eff5 !important;
	height: 25px !important;
	border-radius: 7px !important;
	margin-top:10px !important;
}
.kpi_box_body .col-md-2{
	padding-left: 3px;
	padding-right: 3px;
}
.kpi_box_body .col-md-2 span{
	font-family: 'Work Sans', sans-serif !important;
	font-weight: 500 !important;
	color: #5f87a3;
	font-size: 10px;
	padding-top: 4px !important;
}
/*--milestone box--*/
.miles_box_head{
font-family: 'Work Sans', sans-serif !important;
font-weight: 500 !important;
font-size: 12px;
background-color: #ffffff;
color: #b4c1cb;
padding: 20px;
margin-left: -13px;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
}

.miles_box{
/*background-color: #ffffff;*/
padding-right: 15px;
border-radius: 5px;	
}
#sticky {
   /* padding: 0.5ex;
    width: 600px;*/
    /*background-color: #333;*/
    /*color: #fff;*/
    /*font-size: 2em;*/
    /*border-radius: 0.5ex;*/
}

#sticky1.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    width: 49%;
    z-index: 10000;
    width: 36%;
    /*border-radius: 0 0 0.5em 0.5em;*/
}

#sticky2.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    width: 49%;
    z-index: 10000;
    width: 36%;
    /*border-radius: 0 0 0.5em 0.5em;*/
}

#sticky3.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    width: 49%;
    z-index: 10000;
    width: 36%;
    /*border-radius: 0 0 0.5em 0.5em;*/
}
.kpi_box_body:focus .miles_box{
    margin-top: 100px;
}
.miles_box_body{
background-color: #ffffff;
margin-left: -13px;
border-bottom-right-radius: 5px;
border-bottom-left-radius:  5px;
padding:10px;
}
.miles_box_body .col-md-2 span{
	font-family: 'Work Sans', sans-serif !important;
	font-weight: 500 !important;
	color: #96aab8;
	font-size: 17px;
	padding: 5px;

}
.miles_box_body .col-md-2{
	padding-left: 0px;
}
.miles_box_body .col-md-2 .fa-circle-thin{
color: #eef6fb;
}
.miles_box_body .col-md-2 .fa-check-circle{
color: #68eb81;
}


.miles_box_body .col-md-10 span{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400 !important;
	color: #96aab8;
	font-size: 12px;
	margin-left: -20px;
	width: 86%;
}

.miles_box_body .col-md-10 p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 500 !important;
	color: #96acc9;
	font-size: 10px;
	margin-left: -20px;
	width: 86%;
}
.miles_box_body .col-md-10 a{
	font-family: 'Work Sans', sans-serif !important;
	font-weight: 500 !important;
	color: #96aab8;
	font-size: 10px;
	padding:10px;

}

/*===========end UI Design - Admin Panel=========*/


/*===========UI Design - User Panel====Changes only - others work from admin css =====*/
/*sidebar*/
.sidebar-fa-icon{
	width: 30px !important;
	float: left !important;
	padding: 4px !important;
    margin-top: -2px;
    margin-right: 2px;
}
/*main content*/
.user_header_title {
	color: #3ca6f0 !important;
	font-family: 'Work Sans', sans-serif !important;
	font-weight: 600 !important;
	font-size: 15px !important;
	padding-bottom: 18px;
}

/*kpi box*/
.kpi_box_body{
	/*background: #f3f9fd;*/
	/*background-color: #f3f9fd;*/
    margin-left: -14px;
    margin-bottom: 2px;
    margin-right: -14px;
    border-radius: 5px;
/*    height: 80px;
    overflow-y: hidden;*/
}
.kpi_box_body:focus {
    background-color: #f3f9fd;
    outline:none;
}
.kpi_box_body:focus .fa-angle-right{
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.kpi_box_body .col-md-5{
	/*padding-left: 10px;*/
	/*padding-right: 0px;*/
}
.kpi_box_body .col-md-5 span{
	font-family: 'Work Sans', sans-serif !important;
	font-weight: 500 !important;
	color: #5f87a3;
	font-size: 10px;
}
.kpi_box_body .col-md-5 p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400px !important;
	color: #96aab8;
	font-size: 10px;
}
.kpi_box_body .col-md-5 a{
	font-family: 'Work Sans', sans-serif !important;
	font-weight: 500 !important;
	color: #96aab8;
	font-size: 10px;
	padding:10px;
	float: right;
	padding-top: 5px;

}
.kpi_box_body .col-md-7{
	padding-left: 0px;
	/*padding-right: 3px;*/
}
.kpi_box_body .col-md-7 span{
	font-family: 'Work Sans', sans-serif !important;
	font-weight: 500 !important;
	color: #5f87a3;
	font-size: 10px;
	padding-top: 4px !important;
}
.kpi_box_body .col-md-7.progress-bar{
	height: 25px !important;
	border-radius: 7px !important;
	/*margin-top:8px !important;*/
}

.kpi_box_body .col-md-7 .completed-bar-color1 .progress-bar {
	background: #95e6f7 !important;
}
.kpi_box_body .col-md-7 .completed-bar-color2 .progress-bar {
	background: #ed80b4 !important;
}
.kpi_box_body .col-md-7 .completed-bar-color3 .progress-bar {
	background: #99f8ab !important;
}
.kpi_box_body .col-md-7 .completed-bar-color4 .progress-bar {
	background: #fab07f !important;
}
.kpi_box_body .col-md-7 .completed-bar-color5 .progress-bar {
	background: #ffd84f !important;
}
.kpi_box_body .col-md-7 .ongoing-bar-color1 .progress-bar {
	background: #ffd84f !important;
}
.kpi_box_body .col-md-7 .ongoing-bar-color2 .progress-bar {
	background: #ed80b4 !important;
}
.kpi_box_body .col-md-7 .ongoing-bar-color3 .progress-bar {
	background: #99f8ab !important;
}
.kpi_box_body .col-md-7 .ongoing-bar-color4 .progress-bar {
	background: #fab07f !important;
}
.kpi_box_body .col-md-7 .ongoing-bar-color5 .progress-bar {
	background: #95e6f7 !important;
}
.kpi_box_body .col-md-7 .overdue-bar-color1 .progress-bar {
	background: #fa7f7f !important;
}
.kpi_box_body .col-md-7 .overdue-bar-color2 .progress-bar {
	background: #ed80b4 !important;
}
.kpi_box_body .col-md-7 .overdue-bar-color3 .progress-bar {
	background: #99f8ab !important;
}
.kpi_box_body .col-md-7 .overdue-bar-color4 .progress-bar {
	background: #fab07f !important;
}
.kpi_box_body .col-md-7 .overdue-bar-color5 .progress-bar {
	background: #95e6f7 !important;
}
.kpi_box_body .col-md-7 .progress{
	background: #e7eff5 !important;
	height: 25px !important;
	border-radius: 7px !important;
	margin-top:10px !important;
}
/*.kpi_box_body .col-md-2{
	padding-left: 3px;
	padding-right: 3px;
}
.kpi_box_body .col-md-2 span{
	font-family: 'Work Sans', sans-serif !important;
	font-weight: 500 !important;
	color: #5f87a3;
	font-size: 10px;
	padding-top: 4px !important;
}*/
/*===========end UI Design - User Panel=========*/

/*=========Chosen - User Assign======*/
.chosen-container-multi{
width: 100% !important;
}

/*//dashboard*/
.chosen-container-single{
width: 100% !important;
}
/*======================*/

/* td.details-control {
    background: url('http://www.datatables.net/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('http://www.datatables.net/examples/resources/details_close.png') no-repeat center center;
}*/