

.stars-container {
  position: relative;
  display: inline-block;
  color: transparent;
}

.stars-container:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color: lightgray;

}

.stars-container:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color: gold;
  overflow: hidden;
  
}

.stars-0:after { width:  0%; }

.stars-20:after { width: 20.0%; }

.stars-40:after { width: 40.0%; }

.stars-60:after { width: 60.0%; }

.stars-80:after { width: 80.0%; }

.stars-100:after { width: 100.0; }